@inherits LayoutComponentBase

<main class="min-h-screen bg-gray-50 text-slate-800 font-sans antialiased">
    @Body
</main>

<div id="blazor-error-ui" class="hidden" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
